.image {
    display: block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 5% 5%;

    font-family: 'Open Sans', sans-serif;
    background-color: dodgerblue;
    color: black;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 5px 5px 15px 5px white;
    box-shadow: 5px 5px 15px white;
}

img {
    width: 100%;

}

.title {
    font-size: 30px;
    font-weight: 800;
    text-align: start;
    line-height: 5.5rem;
}

h2 {
    margin: 5.5rem 0 1rem;
}

.App {
    text-align: start;
    width: 100%;
}

.textBottom {
    text-align: end;
} 